@import 'global/style_elements';

.home {
  header {
    padding: 0.5em 0.25em;
    h1 {
      text-transform: uppercase;
      font-size: 1rem;
    }  
  }
  section {
    padding: 50px;
    &.hero {
      text-align: center;
    }
    &.api {
      // text-align: left;
    }
  }
  .logo-container {
    max-width: 20%;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
}
