<header>
  <h1>Hollywood Bowl Traffic Sux</h1>
</header>

<section class="hero">
  <p>Is there {{title}}?</p>
</section>

<section class="api">
  <div class="logo-container">
    <img src="images/upgraded-octo-adventure-logo-v1.png">
  </div>
  <div class="api-container">
    <h3>API Examples</h3>
    <ul>
      <li><a href="/events">/events</a> #lists all events</li>
      <li><a href="/events/today">/events/today</a> #lists events today</li>
      <li><a href="/events/tomorrow">/events/tomorrow</a> #lists events tomorrow</li>
      <li><a href="/events/2019-01-01">/events/:date</a> #lists events on date specified (in yyyy-MM-dd format)</li>
    </ul>
  </div>
</section>
<footer>
  <small>
    &copy; 2019 <a href="https://github.com/phroggy" target="_blank">Cam</a> and <a href="https://github.com/elliehoshi" target="_blank">Ellie</a>
  </small>
</footer>