<p>Hello, is there {{title}}???</p>

<h3>API Examples</h3>
<ul>
  <li><a href="/events">/events</a> #lists all events</li>
  <li><a href="/events/today">/events/today</a> #lists events today</li>
  <li><a href="/events/tomorrow">/events/tomorrow</a> #lists events tomorrow</li>
  <li><a href="/events/2019-01-01">/events/:date</a> #lists events on date specified (in yyyy-MM-dd format)</li>
</ul>
