<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- Favicon/Icon -->
    <!-- TODO: Figure out if serve-favicon can handle this instead (see app.js) -->
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
    <link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png'>
    <link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png'>
    <link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png'>
    <link rel='manifest' href='/site.webmanifest'>
    <!-- CSS Styles -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class={{class}}>
    {{{body}}}
  </body>
</html>
